<div ng-controller="game" close>
    <button ng-click="leave()">Leave</button>
    <div ng-repeat="player in game.players track by player.id" >
        Player:<span ng-class="{me:player==myId}">{{player.id}}: {{player.text}}</span>
    </div>
    <button ng-click="start()">Start</button>
    <div>
        <div class="sample">Sample: {{game.text}}</div>
        <input ng-model="me.text" />

    </div>
    <div>{{game | json}}</div>
    <div>{{me | json}}</div>
    <div>{{ me == game.players[0]}}</div>
    <div>{{ me == game.players[1]}}</div>
</div>